.myWorksBlock {
    background-color: chartreuse;
    min-height: 100vh;
}

.workContainer {
    justify-content: flex-start;
    flex-direction: column;

}

.title {
    background-color: antiquewhite;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}