.header {
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: #352d2f;
    z-index: 2;
    opacity: .9;


}

.headerNav {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}