
.mainBlock {
    height: 100vh;
    background-color: darkorange;
}

.text {
    width: 300px;
    background-color: darkgray;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: darkgray;
}